@import 'vuetify/src/components/VResponsive/VResponsive';

// NuxtContent
.nuxt-content {
  img {
    @extend .v-responsive;
    margin: 0 auto;
  }
  hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  ul.contains-task-list {
    padding-left: 5px;
    li.task-list-item {
      list-style-type: none;
    }
  }
  pre code {
    all: unset; // Vuetify reset
    color: #eee; // Vuetify reset
    .blockquote {
      padding: 0; // Vuetify reset
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }
}
